#container {
    display:grid;
    grid-template-columns: repeat(16, 20px [col-start]);
    grid-template-rows: repeat(16, 20px [col-start]);
    place-content: center;
    grid: auto-flow;
  }
  #square {
    display:grid;
    grid-template-columns: repeat(16, 20px [col-start]);
    grid-template-rows: repeat(16, 20px [col-start]);
    border: 1px solid black;
  }
