
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#container {
    display: grid;
    grid-auto-flow: row;
    height: 500px;
    width: 500px;
    border: 10px solid red;
    margin: auto;
  }
  
  .row {
    display: grid;
    grid-auto-flow: column;
  }
  .cell {
    display: grid;
    grid-auto-columns: 1fr;
  }

  #buttons {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    border: 10px solid black;
  }
